[2021-06-09 17:38] MelissaBraxton opened #299 "Migrate Google docs content to FS Box drive and/or wiki"
**Background**
We'll want to wait on this until new 18F team mates have their credentials and can access Box. Using folders set up in #277.

**We'll know we're done when...**
- [ ] All content in the USFS-18F shared folder in Google drive lives in Box

**Tasks**
- [ ] 18F staff have the right permissions to add and edit things in Box
- [ ] Copy files from Gdrive to Box
- [ ] Label Gdrive folders a

[2021-06-09 19:24] #288 closed, assigned to nobody

[2021-06-09 19:58] aaronburk commented on #295
@neilmb  I am thinking instead of pushing them toward a solution (TEAMS channel) I will likely just ask if they plan ot have a standard operating procedure of some sort in the near future where that the G&A project can reference through our Wiki as we move forward to ensure smooth communication and timely service?

[2021-06-09 20:13] allisonnorman opened #301 "Onboarding checklist - Magdaline"
**Current team to-dos**
- [x] Confirm [README](https://docs.google.com/document/d/1VkuVKqsFI9ojixaAPHaX-jrpUq0HP81Hgf53DUM-nRQ/edit#heading=h.my4hgyykpjmd) is up-to-date, and add new team member to team list.
- [x] Send invite to Slack channels (#fs-nrm-ga and #usfs-ga-partners).
- [x] Send invite to [Github repo](https://github.com/USDAForestService/NRM-Grants-Agreements/settings/access).
- [X] S

[2021-06-09 20:21] allisonnorman commented on #263
I folded this into the onboarding doc. Here's the link: [README
USFS NRM Grants & Agreements](https://docs.google.com/document/d/1VkuVKqsFI9ojixaAPHaX-jrpUq0HP81Hgf53DUM-nRQ/edit#heading=h.my4hgyykpjmd)

[2021-06-09 20:21] #263 closed

[2021-06-09 20:23] allisonnorman commented on #275
- [Link to README/onboarding doc](https://docs.google.com/document/d/1VkuVKqsFI9ojixaAPHaX-jrpUq0HP81Hgf53DUM-nRQ/edit#heading=h.my4hgyykpjmd)
- [Link to onboarding issue template](https://github.com/USDAForestService/NRM-Grants-Agreements/issues/new?assignees=&labels=&template=team-onboarding-checklist.md&title=) (for future new people)

[2021-06-09 20:23] #275 closed, assigned to allisonnorman

[2021-06-09 23:08] allisonnorman commented on #271
[Draft](https://docs.google.com/document/d/1hxeQfYv25ohCHboFprqk1C5rKiVys3GWnh_uxZEDB-k/edit#heading=h.yumf9nw86byr)

[2021-06-09 23:14] allisonnorman opened #302 "Sketch out training/change management training series"
**Background**
As part of transition planning, we want to sketch out a high-level training series for the FS team. This feels like a good pairing task for Allison and @19mderose as she ramps up.

I'm thinking this looks like a series of topics, goals, and a list of potential guest speakers, when applicable.

**We'll know we're done when...**
- [x] We have drafted a training plan (based on transiti

[2021-06-09 23:25] MelissaBraxton opened #303 "Prioritize change mgmt/transition success scenarios"
**Background**
We've developed change mgmt and transition (from 18F > vendor team) success scenarios [here](https://docs.google.com/document/d/1YOlrpQXbbWwYcE-LYeqoavvMDolHjIgBmfQorp8Ft3c/edit#). We need to work with USFS folks to prioritize these scenarios and our work in the near term and when a vendor arrives.

**We'll know we're done when...**
- [x] We have a shared understanding of the priori

[2021-06-10 00:29] MelissaBraxton commented on #303
We could use something like [this Mural.](https://app.mural.co/invitation/mural/gsa6/1623280772028?sender=melissabraxton2796&key=d3fd94cb-9c4b-460d-9c71-7a1c27606aa5)

[2021-06-10 16:05] aaronburk commented on #295
![image](https://user-images.githubusercontent.com/25828899/121558908-10696080-c9e4-11eb-80b0-3f7af238140b.png)

[2021-06-10 16:06] neilmb opened #306 "Create transition timeline for vendor onboarding and 18F offboarding"
**Background**

Once we have a vendor identified, we should develop a timeline for how and when the vendor will start work and take over processes while 18F turns over various processes.

**We'll know we're done when...**
- [ ] We have a first-round timeline document that we can use as a basis for further iterations.

**Tasks**
- [ ]
- [ ]

[2021-06-10 16:47] MelissaBraxton commented on #273
I started a handy dandy[ workshop planning tool ](https://docs.google.com/spreadsheets/d/1ml2bwf-lDGe9vh92PI-EaGx7-ReGDAQUUGlWo6r78bs/edit#gid=0)for this (basically helps us easily game out different activities and how long things may take)

[2021-06-10 21:42] MelissaBraxton commented on #303
Un assigning myself and passing this to you @neilmb, since you'll be facilitating.

[2021-06-11 17:18] tbaxter-18f commented on #232
Resolved in this commit (https://github.com/USDAForestService/NRM-Grants-Agreements/commit/c83ff3f711ab487f49b18944c53ad61d86fbaba5)

I, um, accidentally committed to our main branch, but @neilmb was kind enough to give it a review in the commit.

[2021-06-11 17:19] #232 closed

[2021-06-14 14:47] #197 closed

[2021-06-14 16:40] allisonnorman commented on #277
[18F Box folder](https://usfs.app.box.com/folder/137232493248?utm_campaign=collab+auto%20accept%20user&utm_medium=email&utm_source=trans)

[2021-06-14 16:40] #277 closed, assigned to jayrbergjr

[2021-06-14 18:38] allisonnorman commented on #272
@jayrbergjr is looking at 7/14 & 7/15, 2-4pm CT

[2021-06-14 18:57] allisonnorman opened #308 "Plan out sequence of work for roller skate at the epic level"
**Background**
As we prep for building the roller skate, we need to have a high-level scoping and sequencing conversation to help plan out the rest of the E&I:
- Which epics will we tackle first, which epics will we tackle later, and which are dependent on one another?
- What are the bounds of each epic (what's in scope and what's not)
- What is the rough level of effort for each epic?
- Where do

[2021-06-14 19:04] allisonnorman opened #309 "Set up staging and production environments on FS AWS"
**Background**

We currently have a development environment on FS AWS. We should begin ASAP getting the staging and production environments created on that platform. The staging AWS environment needs to be configured to connect back to the NRM development Oracle database. The production AWS environment needs to be configured to connect back to the NRM production Oracle database.

**We'll know we'r

[2021-06-14 19:19] tbaxter-18f commented on #309
In my opinion, we could defer this until we get closer to needing a production environment. I would suggest scheduling so these are in place 4-6 weeks before a production environment is needed, whenever that is.

[2021-06-14 19:20] allisonnorman opened #310 "Onboard Matt Cloyd!"
**Current team to-dos**
- [x] Confirm [README](https://docs.google.com/document/d/1VkuVKqsFI9ojixaAPHaX-jrpUq0HP81Hgf53DUM-nRQ/edit#heading=h.my4hgyykpjmd) is up-to-date, and add new team member to team list.
- [x] Send invite to Slack channels (#fs-nrm-ga and #usfs-ga-partners).
- [x] Send invite to [Github repo](https://github.com/USDAForestService/NRM-Grants-Agreements/settings/access).
- [x] [

[2021-06-14 19:22] tbaxter-18f commented on #78
This would be good to do around the same time as #309

[2021-06-14 19:24] tbaxter-18f commented on #81
I think at launch this will have to be in place or we will have to use Django's built-in Auth. There's nothing wrong with that per se, but it would probably require an admin to manually create users, and would not be using any PIV/CAC, SSO or 2FA solutions that are probably desired.

[2021-06-14 19:29] tbaxter-18f commented on #140
This is just my opinion, but I think the current NRM IA and content strategy is fractured and haphazard enough that a content audit of it is of limited value. I do think bringing in a content designer on a microrequest (or short engagement) makes a LOT of sense, though.

[2021-06-14 19:33] #230 closed

[2021-06-14 19:33] tbaxter-18f commented on #157
For most users, this should largely be a matter of not showing them non-NRM parts of the app they shouldn't have access to anyway. For people who have access to other parts of the app (such as user administration, or creating things that are readonly in NRM) we'll have to determine how we want to handle this.

From an engineering perspective, it's probably just overriding default admin functionali

[2021-06-14 19:36] tbaxter-18f commented on #169
I think this will be blocked on #252 (assignment)

[2021-06-14 19:46] tbaxter-18f commented on #178
@allisonnorman IMO we need a few things to do this...
1.  A story leading up to this to answer the open question.
2. Role configuration (so we know you're a grants specialist and to show you)
3.  the engineering work to check against the out-of-compliance things to highlight them

And do we show ALL out of compliance, or just ones assigned to you?

[2021-06-14 19:50] tbaxter-18f commented on #181
Do we have a shared understanding and common language of what "invoices" means?

Is this blocked on working out financial data/docs?

[2021-06-14 19:50] tbaxter-18f commented on #184
@allisonnorman do we still need this? It definitely *feels* like an epic.

[2021-06-14 19:56] tbaxter-18f commented on #185
From what I've seen and heard, we should probably give this some priority. I believe (from usability research) it would likely pretty helpful to capture the workplan pretty early on, rather than late in the process. This would let us prepopulate a bunch of fields and reduce the creation burden, and I think it would be easier to capture errors/mismatches.

There's also a BIG question about whether

[2021-06-14 20:03] tbaxter-18f commented on #187
I think given the related #185, we have a fairly high-priority need to determine.

1. Is bringing in data from a workplan desirable?
2. If not, then we can close #185 as wontfix
3. If so, proceed with #185?

It seems like we have some conflictiing views on whether or not it's helpful that we need to resolve.

From a data/engineering standpoint, it CAN let us prepopulate some fields, but I'm not su

[2021-06-14 20:05] tbaxter-18f commented on #190
I think for the scope of this issue it's resolved with https://github.com/USDAForestService/NRM-Grants-Agreements/pull/305 but I also expect integration and refinement to be ongoing, and there should be follow-up issues where we spot specific things we'd like to improve (like combo box, which is logged separately)

[2021-06-14 20:07] tbaxter-18f commented on #195
This was most likely resolved by the admin refactor. We haven't noticed it since, but we haven't confirmed, either. Might be a good issue to write a test for.

[2021-06-14 20:09] tbaxter-18f commented on #238
Crosses epics, because I think we'll need to have role config in order to have assignment, especially if we want to assign to team/group.

[2021-06-14 20:10] tbaxter-18f commented on #238
@allisonnorman in general I think role config blocks assignment, under the assumption that people will want to be able to select from the people in a relevant role and/or want to assign to multiple people in a group.

[2021-06-14 20:25] tbaxter-18f commented on #201
@allisonnorman I don't know for sure, but I think this needs to be resolved to know the scope of rollerskate launch.

[2021-06-14 20:27] tbaxter-18f commented on #203
We'll need to figure out if eAuth will tell us the user role (and if so how we'll work with that in our system) or if an admin will have to manually assign users to roles and groups.

[2021-06-14 20:28] tbaxter-18f commented on #205
Does this duplicate #201? Can we close one?

[2021-06-14 20:29] tbaxter-18f commented on #206
If we want email notifications, this a must-do first step.

[2021-06-14 20:31] tbaxter-18f commented on #212
I believe we're leaning toward having a tabbed interface to go through different parts of the form. If so, we can close this. If not, we'll need to do.

If we break it apart, error handling is easier and more user-centered. If we keep it tabbed, we cut down on page loads and MAYBE streamline entry.

[2021-06-14 20:57] tbaxter-18f commented on #208
This is probably closely related to #225 and #200

[2021-06-14 21:28] tbaxter-18f commented on #221
I believe these numbers are created and tracked locally, in spreadsheets, and it's probably easier -- at least for the foreseeable future -- to let them continue to be rather than generating them ourselves, especially given that we'd have to have buy-in on whatever mechanism we used to generate them. I think this is a module 2 or 3 story.

[2021-06-14 21:30] tbaxter-18f commented on #222
This is a pretty significant defect. Currently our handling of accomplishment instruments is completely broken (and they're used in agreement creation)

[2021-06-14 21:31] tbaxter-18f commented on #223
Once we've designed where and how these should slot into the workflow, we'll need a follow-up engineering issue to implement them.

[2021-06-14 21:34] tbaxter-18f commented on #225
See related #208 and and #200. We know that contacts are used a few places in the agreement creation process, but we don't yet know the mechanisms that let an admin create a new one. For normal users, they're read-only.

[2021-06-14 21:35] tbaxter-18f commented on #226
I'm going to close this as we've failed to capture these data points. I think they'll resolve themselves in other stories, or through usability testing.

[2021-06-14 21:35] #226 closed

[2021-06-14 21:39] tbaxter-18f commented on #228
Given that this is not currently implemented, I'd say it's low priority, at least for MVP.

[2021-06-14 21:41] tbaxter-18f commented on #229
@MelissaBraxton I think this is dependent on your work tracking how we get through the states. Once we get to PROP_ACCEPTED we'll need to implement the code to add this field to the form and do any needed validation, then I'm guessing it's probably needed at some later point to move to some next state.

[2021-06-14 21:41] tbaxter-18f commented on #231
@neilmb this might be a good story for a frontend-ish dev. Nice intersection of data and our USWDS-ification efforts.

[2021-06-14 21:43] tbaxter-18f commented on #234
@neilmb I had meant to knock this one out (and still may) but if I don't get to it, it'd be a good starter story.

[2021-06-14 21:47] tbaxter-18f commented on #237
Definitely blocked on #187, which we should probably do sooner rather than later.

[2021-06-14 21:50] tbaxter-18f commented on #240
In my opinion, this is out of scope for our app, and the person with the admin rights to add people to roles should ensure they have the required training. However, permissions will definitely be part of the role/group config.

[2021-06-14 21:52] tbaxter-18f commented on #243
We will probably have a follow-up issue to connect URM to Django's own user/group config.

[2021-06-14 21:54] tbaxter-18f commented on #242
Wondering if #241/#242 have enough overlap that one could be closed as a duplicate.

[2021-06-14 21:57] tbaxter-18f commented on #248
I'd say we should put prioritize this and have a go at it -- it's a good iterative story showing how research informs further design and development -- and if any of the suggestions seem not ready/doable yet, spin them out as future stories.

Some things, like "Considering allowing the ability to link to multiple workplans." are definitely blocked on the whole Workplan importing spike and work, an

[2021-06-14 22:00] tbaxter-18f commented on #251
I think the output of this is just a meeting to determine if there's anything in their backlog that should be in ours. I think.

[2021-06-14 22:02] tbaxter-18f commented on #257
Is this epic a duplicate of #252 ?

[2021-06-14 22:07] tbaxter-18f commented on #270
@MelissaBraxton can you verify we've captured the conditions that need to be met to go to PROP_APPROVED?

[2021-06-14 22:11] tbaxter-18f commented on #293
Possible dupe of #309

[2021-06-14 22:19] allisonnorman commented on #302
I started sketching this out in [Mural](https://app.mural.co/t/gsa6/m/gsa6/1623707762342/de870a9c18474b1bf6f81cf75966460fb3f8fa03). I pulled from the change management issues and prioritized based on the prioritization exercise.

[2021-06-15 12:38] aaronburk commented on #302
this looks great.  Lot of challenges in USFS for training/willing ness to implement in all these areas.  Just a quick note nearly everything mentioned aligns with the USDA Open Government efforts and FITARA and the Federal Digital Strategy
https://www.usda.gov/sites/default/files/documents/usda-open-gov-plan-v4.0.pdf
https://www.usda.gov/open

[2021-06-15 14:55] neilmb commented on #205
I think that #201 depends on this research being done first. In this ticket we figure out what's going on and in #201 we scope what we are going to do about it.

[2021-06-15 15:01] neilmb commented on #309
This replaces #293 since creating staging and production can probably be done at the same time.

[2021-06-15 15:02] tbaxter-18f commented on #293
Supplanted by #309

[2021-06-15 15:03] #293 closed, assigned to nobody

[2021-06-15 15:23] aaronburk commented on #309
just noting that as this work is done there a USDA Cybersecurity requirement that no live data is allowed  outside of production environment.  As of now there is a team working o  this task in NRM (mostly in DEV right now.  That said this requirement may need ot be kept in mind in NRM is planning to introduce data in the cloud environments moving forward

[2021-06-15 16:27] allisonnorman commented on #302
Also started putting together a [tentative schedule](https://docs.google.com/spreadsheets/d/12otMb9wv3DeAbRMLW8RaF_Dn6GqmlZAUGQEFBQCnHP4/edit#gid=0). Still to add: more potential training decks and guest speakers.

[2021-06-15 18:18] tbaxter-18f commented on #269
Per @jayrbergjr FMMI integration may take 2 years or more. We may need another path to get to PROP_RECEIVED

[2021-06-15 18:33] allisonnorman commented on #272
Jay sent placeholder invite!

[2021-06-15 18:33] #272 closed, assigned to jayrbergjr

[2021-06-15 21:01] #303 closed, assigned to neilmb

[2021-06-16 15:58] allisonnorman commented on #184
Yeah, good call. I meant to use this as the epic description for agreement creation but lost track of it. Going to do that now. Thanks!

[2021-06-16 16:02] allisonnorman commented on #184
Closing this as I've moved the description to the agreement creation issue (#253)

[2021-06-16 16:02] #184 closed

[2021-06-16 16:03] beechnut commented on #310
@allisonnorman @neilmb Looks like the Team Charter link under my onboarding checklist is broken, mentioning it in case this is something that can be fixed in the template. There's another working link in the team to-dos, so I do have access.

[2021-06-16 17:08] neilmb commented on #310
Fix is in https://github.com/USDAForestService/NRM-Grants-Agreements/pull/312

[2021-06-16 20:04] allisonnorman commented on #310
Good catch, @beechnut! You passed the test (j/k) :)

[2021-06-16 22:01] allisonnorman commented on #302
I added some more thoughts on the [schedule draft](https://docs.google.com/spreadsheets/d/12otMb9wv3DeAbRMLW8RaF_Dn6GqmlZAUGQEFBQCnHP4/edit#gid=0) around potential topics and concepts to cover. These are just ideas and over time, we will have a better sense of where the project is and can reschedule based on current, relevant topics.

@neilmb As part of the meeting defrag, do you want to take on f

[2021-06-16 22:47] MelissaBraxton commented on #267
Incorporated feedback from @jayrbergjr  - Review mtg w/ broader group scheduled for Monday, 6/21.

[2021-06-17 18:23] neilmb opened #313 "Figure out what we are doing with our sprint demo time."
**Background**
https://docs.google.com/document/d/1uiyzvRVJ4zPOh94haqnWk6249nHEobxX8OOQg2XhlWc/edit has discussions on where we could do better with our sprint demo.

**We'll know we're done when...**
- [ ]
- [ ]

**Tasks**
- [ ]
- [ ]

[2021-06-21 16:26] #271 closed, assigned to allisonnorman

[2021-06-21 16:55] MelissaBraxton commented on #190
@tbaxter-18f  - Sounds like we can closer this then?

[2021-06-21 17:06] allisonnorman opened #314 "Schedule G&A learning series"
**Background**
We drafted a [schedule](https://docs.google.com/spreadsheets/d/12otMb9wv3DeAbRMLW8RaF_Dn6GqmlZAUGQEFBQCnHP4/edit#gid=0) in #302. Let's continue this effort and create an invite with attendees at least for the initial sessions.

**We'll know we're done when...**
- [x] We have scheduled the learning series (all, or some of them)
- [ ] We have created issues for upcoming sessions

**Ta

[2021-06-21 17:07] allisonnorman commented on #302
I created #314 to schedule this out.

[2021-06-21 17:07] #302 closed, assigned to allisonnorman, 19mderose

[2021-06-21 17:30] tbaxter-18f commented on #190
Yup

[2021-06-21 17:30] #190 closed

[2021-06-21 17:39] MelissaBraxton opened #315 "SPIKE: Discovery research into ASC/RACA to inform svc blueprint"

[2021-06-21 17:48] MelissaBraxton opened #316 "Create workshop content"
**Background**

**We'll know we're done when...**
- [x] Workshop deck covers topics listed [here](https://docs.google.com/spreadsheets/d/1ml2bwf-lDGe9vh92PI-EaGx7-ReGDAQUUGlWo6r78bs/edit#gid=0)
- [x] Material can be delivered in 2, 2.5 hour sessions
- [x] People responsible for facilitating different sections have reviewed and approved the material they'll present

**Tasks**
Create material that c

[2021-06-21 17:53] MelissaBraxton commented on #273
Made new issue #316 to create deck.

[2021-06-21 17:54] MelissaBraxton commented on #273
Looks like we still want @jayrbergjr and @19mderose to take a look at the draft [agenda ](https://docs.google.com/document/d/1ZqjYrNmt7nW2OymOXeaYuzXgtf34OPWvhv4ka_qe1vM/edit#heading=h.iua7az3hzhp)and [planning tool](https://docs.google.com/spreadsheets/d/1ml2bwf-lDGe9vh92PI-EaGx7-ReGDAQUUGlWo6r78bs/edit#gid=0) before we close this out.

[2021-06-21 18:27] neilmb commented on #278
My notes in https://docs.google.com/document/d/1bszjpeSii0BQAya4h-grHh6MiW6h70J9DLurwqk_qFo

@beechnut ^^^^ those might be worth a read as you are coming up to speed on the application code/architecture

[2021-06-21 18:27] #278 closed, assigned to neilmb

[2021-06-21 19:02] #234 closed

[2021-06-21 19:55] neilmb commented on #309
Started the conversation with the FS Cloud Foundation team in MS Teams.

[2021-06-24 14:59] beechnut commented on #195
This bug didn't reproduce for me after testing on quite a few (> 10) grant change forms. I'm concluding that it's resolved.

I'll add @tbaxter-18f's note about testing for this in #289.

[2021-06-24 15:00] #195 closed

[2021-06-24 15:01] beechnut commented on #289
Note: make sure to test for fieldset duplication on grant change forms. https://github.com/USDAForestService/NRM-Grants-Agreements/issues/195#issuecomment-860959080

[2021-06-24 15:10] beechnut opened #319 "Page load error with multiple categories on grant"
Django throws a MultipleObjectsReturned error for grants that are associated with multiple categories.

**Reproduction steps**

1. Visit /admin/grants/grant/6020529010602/change/

**Expected**

The grant change page for this grant loads.

**Actual**

Error page with:

[code]

**Additional context**

In the Python shell, I confirmed that this grant is associated with four categories.

**Possible so

[2021-06-24 15:18] beechnut opened #320 "Style absent from specific grants"
Some grants persistently don't have the USWDS/USFS styling applied.

**Reproduction steps**
- Visit /admin/grants/grant/73010312X/change/

**Expected**

The change form loads with the style with accordions, etc.
<img width="1235" alt="Screen Shot 2021-06-24 at 11 16 17 AM" src="https://user-images.githubusercontent.com/1887182/123288475-9a81f080-d4dd-11eb-8477-5599bfd5317e.png">
Source: /admin/gra

[2021-06-24 16:49] #273 closed, assigned to MelissaBraxton

[2021-06-24 16:55] neilmb opened #321 "Sketch out release engineering processes"
**Background**

We need an understanding of what testing, development, staging, and production environments we will need and how changes will flow through those environments and get code-reviewed, approved by the product owner, and deployed in the production environment.

**We'll know we're done when...**
- [ ] We have a document describing how changes make their way to production
- [ ] We have st

[2021-06-24 17:22] MelissaBraxton opened #322 "As a proposal creator, I need to be able to submit a new proposal without including the BOC so that I don't have to wait for BAs or GMS to give me the additional info before I can route my proposal for review."
**Notes**
In the new proposed workflow, budget analysts, NOT program managers, will submit funds reservations requests (formerly "commitments"). The current mocks for program managers' proposal submission are designed to include a funds reservation request as part of the proposal submission process. We need to redesign what is currently the "commitments" part of proposal approval to reflect this c

[2021-06-24 17:29] MelissaBraxton opened #323 "As a proposal creator, I need to understand what "cooperator DUNS#" means and where I can go for more info so that I can confidently enter the correct data."
**Notes**
This story covers a need that came out of sprint pine cone cap research on the proposal submission form. Where proposal submitters are inputting partnership details, we need to add explanatory text or in context glossary link to help folks understand DUNS#.

**We'll know we're done when...**
- [ ] Users have a clear path from the proposal creation form to an explanation of what DUNS# is

[2021-06-24 19:58] neilmb commented on #309
Asked again on Teams about how to get this done.

[2021-06-24 20:23] 19mderose opened #324 "Programmatic Testing/Manual Testing"

[2021-06-24 20:27] 19mderose commented on #324
Programmatic testing? Manuel QA?  Customizable testing?  that way we will never deploy something that will error.
Jay is concern that as we develop that it will not disrupt the NRM system. Jamie will have to fix anything that errors in the system. We propose creating and programmatic testing as we develop. Further discussion with team is need to determine how to proceed.

[2021-06-24 20:29] MelissaBraxton opened #325 "Tweaks to the "commitments" part of the proposal creation form to reflect new workflow"
**Notes**
We need to significantly revise the "commitments" part of our new proposal flow to reflect the [current to-be workflow](https://app.mural.co/t/gsa6/m/gsa6/1624379057943/2a98b1294a17025d86e3e7d95a2e509ab4f1740f) model for proposal creation, approval, execution.

**We'll know we're done when...**
- [x] all language re: "commitments" matches FMMI language "funds reservation requests"
- [x]

[2021-06-28 16:30] MelissaBraxton opened #326 "Refine agreement creation WF model - unhappy path and data flow"
**Background**
We drafted the happy path to be workflow for new, outgoing fund agreements being approved, but we haven't yet designed how we'll handle rejections, and errors, etc.

**We'll know we're done when...**
- [x] The to-be wf model shows how **most common** rejections and errors are handled.
- [x] We've documented any edge cases that may need to be handled down the road
- [x] People know w

[2021-06-28 16:31] MelissaBraxton opened #327 "Orient Chris to Product Management role"
**Background**
As we prepare to roll of the project in October,  we'll need to have more involvement from the USFS PM to make sure product management continues when we're gone. We also want to make sure that folks are aligned on what the USFS product management role will look like and how we present the different roles at our workshop later in the month, so we want to review / collaborate on slide

[2021-06-28 18:41] #267 closed, assigned to MelissaBraxton

[2021-06-28 18:48] 19mderose commented on #324
Update: Exploring with Jamie to make sure we have check and balances with auto testing.

[2021-06-28 19:13] 19mderose commented on #314
Workshop Kickoff meeting 7/1.

[2021-06-28 19:13] 19mderose commented on #285
Workshop Kickoff meeting 7/1.

[2021-06-28 19:34] allisonnorman commented on #308
We mapped out the sequence of epics on the [G&A roadmap](https://app.mural.co/t/gsa6/m/gsa6/1616102462523/caae527dbaa5eed61a517b0c5039b7541c667da2). We also scoped and prioritized the issues for agreement creation we discussed. The team will continue refining epics ahead of starting on them during backlog refinement.

[2021-06-28 19:34] #308 closed, assigned to allisonnorman, 19mderose

[2021-06-30 18:08] MelissaBraxton opened #331 "Onboard USFS tech lead"
18F typically brings goverment-side technical leadership during our engagements, but we're not here for the long haul, so we need to make sure someone at USFS is well prepared to fill this role when we go. To that end, this issue covers how we'll help the USFS tech lead get to know this work so that they can achieve these goals re: resilience, security, and transparency:

### Tech lead goals

**Ma

[2021-06-30 21:10] MelissaBraxton opened #333 "Draft vendor interview Qs"
**Background**
This is covers how we'll support NRM in reviewing applicants on their modernization contract.

**We'll know we're done when...**
- [x] We have curated resources on how NRM might evaluate applicants on the design, research, and engineering expertise needed for this project.\

**Tasks**
- [x] Review past examples
- [x] Write new Qs in light of specific project needs
- [x] Review with

[2021-07-01 13:08] beechnut commented on #320
Working on this via the first integration test in #332

[2021-07-02 14:44] beechnut opened #334 "Fix accessibility tests (pa11y)"
Pa11y-ci is running accessibility tests in CircleCI to ensure Sec 508/WCAG compliance.

At the moment, we're ignoring the exit code of the task and sending `exit 0` to allow the build to succeed while accessibility tests are failing. Ultimately, failed accessibility tests should result in a failed build.

**We'll know we're done when...**
- [ ] Accessibility tests for the existing pages are passin

[2021-07-02 14:54] beechnut opened #335 "Consider browser-based / Cucumber testing"
We should consider whether to set up comprehensive BDD/Cucumber-style tests to support technology stack transition, should a decision be made to continue with a Python prototype but eventually have a Java-based stack.

One piece of value we plan on delivering is a comprehensive test suite. We are already expecting to provide unit tests and integration tests. Adding Cucumber to the mix allows us to

[2021-07-02 14:57] beechnut opened #336 "Add infrastructure diagram to roadmap Wiki page"
Aaron mentioned that folks have questions about when different parts of the NRM infrastructure are planned to go offline/be migrated. He said that it would be helpful to include an infrastructure diagram for each module in the roadmap, to clearly communicate this.

**We'll know we're done when...**
- [x] We have diagrams added to the wiki.
- [x] Aaron signs off.

**Tasks**
- [x] Add diagrams to th

[2021-07-02 15:00] aaronburk commented on #336
Thanks for creating this Matt ( I have forwarded it to Adam Shepherd as well)  not sure if he onboarded and getting these notifications yet

[2021-07-02 15:01] aaronburk commented on #335
Thanks for creating this Matt ( I have forwarded it to Adam Shepherd as well) not sure if he onboarded and getting these notifications yet

[2021-07-06 18:56] beechnut commented on #335
In doing some [initial research](https://stackoverflow.com/questions/9485962/does-python-have-anything-like-capybara-cucumber) I found the following:

- [A 2011 article on integration testing in Django](https://www.cilliano.com/2011/02/07/django-bdd-with-lettuce-and-splinter.html) which led to a number of useful libraries
- [Splinter](https://github.com/cobrateam/splinter), for simulating a browse

[2021-07-06 20:06] beechnut commented on #289
In doing some [initial research](https://stackoverflow.com/questions/9485962/does-python-have-anything-like-capybara-cucumber) I found the following:

- [A 2011 article on integration testing in Django](https://www.cilliano.com/2011/02/07/django-bdd-with-lettuce-and-splinter.html) which led to a number of useful libraries
- [Splinter](https://github.com/cobrateam/splinter), for simulating a browse

[2021-07-06 20:07] beechnut commented on #335
[See this comment for some research on integration testing tools](https://github.com/USDAForestService/NRM-Grants-Agreements/issues/289#issuecomment-875046829), which includes some BDD/Cucumber/Gherkin-type tools.

[2021-07-07 14:16] beechnut commented on #248
@MelissaBraxton Is there pre-written content, or any research that suggests what might need to be written? I'm also noticing that there's some help text for these fields already.

[2021-07-07 14:33] beechnut commented on #289
Reviewing these, Splinter appears to have the most community support (145 contributors) and the most recent updates (this past week).

I intend to start integration testing using Splinter.

[2021-07-08 14:11] beechnut commented on #289
At @aaronburk's suggestion, I've requested a call with @mwreiss to learn about approved technologies / cybersecurity requirements related to this issue.

[2021-07-08 17:33] MelissaBraxton commented on #299
Blocked until 18F folks can access Box

[2021-07-12 16:40] MelissaBraxton commented on #242
Context from Sue: "NRM decided not to ‘modernize’ the shared attachments application. But instead each app can build their own.  There are two good example now available, and G+A may want to review these.  FSVeg and FACTS have both already built an attachments module."

[2021-07-12 19:15] cmajel commented on #227
Open question: Can this be inferred by `org code`?

I think the answer is sometimes yes, sometimes no. There may be some places where things are less clear (Washington Office)

[2021-07-12 21:00] neilmb commented on #309
Meeting coming up on Thursday July 15th to learn more about requirements for this.

[2021-07-12 21:01] neilmb commented on #262
The SSL cert is installed and the site is working on HTTPS. I asked on Teams if Matt Reiss could now make it available without the VPN.

[2021-07-14 14:16] #282 closed, assigned to beechnut

[2021-07-14 20:01] neilmb commented on #262
Latest news from FS security office is that non-prod environments aren't allowed to be made available off of the FS VPN. From an email from Ross Willmot, the ISSO for the ATOed AWS environment:

[2021-07-14 20:47] #248 closed

[2021-07-15 16:40] neilmb commented on #262
This is finally resolved. The prototype environment is on the web at https://ga-dev.fs2c.usda.gov (note, you must use the "https" there). It is accessible from the Forest Service VPN as before, but it is ALSO accessible from the GSA VPN. So we can get our laptops on the GSA VPN and have access to the development environment.

[2021-07-15 18:33] #262 closed

[2021-07-15 19:39] #316 closed, assigned to nobody

[2021-07-15 19:41] MelissaBraxton opened #345 "Write up workshop summary"
**Background**

**We'll know we're done when...**
- [x] We have documented the outputs of our re-KO workshops
- [x] Document is easily accessible

**Tasks**
- [x] Write up summary
- [x] Have a team member review
- [x] Include w/ weekly ship
- [x] post to Box and/or the wiki?

[2021-07-15 19:45] MelissaBraxton opened #346 "Conduct core team KO / align on collaboration practices"
**Background**
We ran out of time at the workshops to go over "how we work" content. We'll want to quickly get together with USFS PM, PO, and Tech Lead to do that, as we'll begin working together in this new way on July 26 when the PM and PO are back from vacations.

**We'll know we're done when...**
- [x] 18F and USFS folks have reviewed and have consensus on "how we work" content
- [x] Wiki "how

[2021-07-16 18:03] beechnut commented on #289
Some notes from this sprint:

- Held the aforementioned call with @mwreiss about platform/infrastructure requirements. I'm getting onboarded at the USDA and should soon have accounts to build out the Jenkins pipeline as we prioritize that work.
- View tests are in place, which could be considered minimal integration tests since several parts of the application are tested together.
- We discovered

[2021-07-16 18:59] #287 closed, assigned to beechnut

[2021-07-16 18:59] #320 closed, assigned to beechnut

[2021-07-16 19:54] neilmb opened #347 "Research and document CI/CD setup"
**Background**

CI/CD tooling is an important piece of the technical roadmap. We should research the tools and setup that are available for this at the FS from the Cloud Foundation team and then document what we find out.

**We'll know we're done when...**
- [ ] @AdamUSDA signs off on what we find out

**Tasks**
- [x] Research the CI/CD setup that is in place with Cloud Foundation for our prototyp

[2021-07-16 19:58] neilmb opened #348 "Transition to FS CI/CD setup"
**Background**

In #347, we documented what CI/CD tooling we would use. Once that research is done, we should convert our existing code to use that setup.

**We'll know we're done when...**
- [ ] Our repo is running all of its testing and deployment on the FS CI/CD setup, as specified by [Release Engineering Process](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Release-Engineeri

[2021-07-16 20:06] neilmb opened #349 "Design and provision AWS resources for Lambda"
**Background**

The new tech stack will use AWS Lambda as a backend. We need to figure out which AWS resources will be required to do that and work with the Cloud Foundation team to get those resources created and get access to them.

**We'll know we're done when...**
- [x] @AdamUSDA signs off on the AWS design
- [ ] All of the designed resources exist in our development environment

**Tasks**
- [

[2021-07-16 20:14] neilmb opened #350 "Create a minimal Angular starter application"
**Background**

The new tech stack uses a client-side Angular application for the user interface. To get started with this, we should create an absolutely minimal "Hello, World", 200 OK version of an Angular application and get it into our code repository. We should document in a README how to run and develop the application locally.

**We'll know we're done when...**
- [ ] There is angular code i

[2021-07-16 20:20] neilmb opened #351 "Create a minimal Lambda backend"
**Background**

The new tech stack uses Lambda on the backend. We should make a minimal API on Lambda that can respond with the JSON "ok" on one endpoint. Since our Lambda application will be deployed on AWS, this will need resources from #349 as well as deployment tooling from #347.

**We'll know we're done when...**
- [ ] There is an absolutely minimal API running in our development environment

[2021-07-16 20:30] neilmb opened #352 "Connect the Angular front end to the Lambda backend"
**Background**

In the new tech stack, the front-end application needs to communicate with the Lambda backend. Once we have finished #351 and #350 and deployed the Angular application on AWS then we should configure the Angular application to call the Lambda API and display something from the API call in the application.

**We'll know we're done when...**
- [ ] We can load our Angular application

[2021-07-16 20:37] neilmb opened #353 "Research and document how to utilize Mulesoft"
**Background**

Mulesoft is possibly going to be available as an API integration tool. We should figure out how our individual G&A application should be involved with Mulesoft and document our findings.

**We'll know we're done when...**
- [ ] We document our findings on the Github wiki
- [ ] @AdamUSDA signs off on what we learn

**Tasks**
- [ ] Research the Mulesoft setup at FS and how it interac

[2021-07-19 16:05] cmajel opened #354 "Create a plan to validate new storyboard / workflow model with people who use G&A"
**Background**
Our past research has lead us to a hypothesis of what a new G&A process may look like. This "storyboard" has helped us internally synthesize our findings and discuss what information is needed when, and who provides it.

We've walked through this with a few stakeholders, but we haven't yet shown this storyboard to people who use G&A for their reactions and adjustments. It will be pa

[2021-07-19 17:04] MelissaBraxton opened #355 "Develop means of USFS PO/PM/Tech Lead being able to track team's progress against sprint goals"
**Background**
Now that we may be moving into more of a production phase, we want to give our partners more experience with tools to help them check the teams progress toward sprint goals that they find helpful when they have a new vendor on board.

**We'll know we're done when...**
- [ ] We've established the metrics and tool that will be useful in the near term
- [ ] We've created a new issue to

[2021-07-19 18:19] MelissaBraxton opened #356 "Schedule sprint ceremonies"
**Background**
Now that we're kicking off with the broader USFS team, we want to make sure that the tech lead, PO, and PM can come to all of the sprint ceremonies and participate.

**We'll know we're done when...**
- [X] Sprint review/demo is scheduled
- [X] Stand ups are scheduled
- [x] We've confirmed that backlog grooming is scheduled at a time folks can participate
- [ ] We've confirmed that r

[2021-07-19 18:19] neilmb commented on #309
This is on hold now until we do #349

[2021-07-19 18:20] cmajel commented on #325
@MelissaBraxton clarifying the scope of this:

* This is to adjust our mocks of what program managers interact with when creating an agreement so that they can provide enough information to...
  * say where money is coming from and how much
  * give enough info to a budget approver that they can assign a BOC and commit the funds
 * This issue is NOT getting into what budget specialists would see w

[2021-07-19 18:26] neilmb commented on #299
I think the same USDA onboarding process is also blocking #310 and #301.

[2021-07-19 19:27] MelissaBraxton commented on #325
Removed from acceptance criteria as they're only relevant to BAs w/ the new WF where PMs are no longer submitting funds reservations requests
- [ ]  People can link to multiple workplans to funds reservation requests.
- [ ]  People can add more than one job code to funds reservation requests.

[2021-07-19 20:01] neilmb commented on #349
https://docs.aws.amazon.com/whitepapers/latest/serverless-multi-tier-architectures-api-gateway-lambda/single-page-application.html is Amazon's documentation on how to design a Single Page App with Lambda.

[2021-07-19 20:10] neilmb commented on #349
Setting up a Teams meeting with Cloud Foundation team to start getting these set up.

[2021-07-19 20:15] neilmb commented on #331
Google groups are apparently GSA-only, so we can't add Adam to the 18f-usfs-nrm@gsa.gov group.

[2021-07-19 21:46] MelissaBraxton opened #357 "Share tips/documentation that might help USFS get design tools"
**Background**
USFS will want to ensure that vendors can use current design tools when they join the project (Adobe, Sketch, Figma, InVision). 18F may be able to help by sharing documentation and/or justification for tools to leadership.

**We'll know we're done when...**
- [ ] 18F has shared any material and / or docs that can help with this.

**Tasks**
- [ ] Get examples
- [ ] Share / Save to Bo

[2021-07-20 14:35] AdamUSDA commented on #349
Hey @neilmb I like the diagram but in that process will be Mulesoft. It might be the way we authenticate with eAuth to get the single sign-on for the user.

[2021-07-20 14:38] AdamUSDA commented on #347
Hey @neilmb we should coordinate with Jaiprakash, Patchamuthu (jay) who is also looking at CI/CD tools. There are some that are being used in Legacy apps but there maybe other options that are a better fit for our Modernization teams.

[2021-07-20 16:23] cmajel commented on #354
[Starting draft research plan here](https://docs.google.com/document/d/1mtz6SVjyXg6lehe2UTU9kt6_FQTahMst2kMMkp0L4wM/edit#).

[2021-07-20 20:58] MelissaBraxton commented on #356
@19mderose  - It looks like Chris can attend the ceremonies at the times we have scheduled. (He's the only one not already attending) Since you are the organizer on those events, you want to add him and then close this out?

[2021-07-20 23:08] #356 closed, assigned to 19mderose

[2021-07-20 23:09] 19mderose commented on #356
Added Chris to Sprints

[2021-07-21 20:12] 19mderose commented on #314
Met with Alan B regarding Agile Training. He is available any time after 8/10/2021. Deliver agile trainings #285.

[2021-07-22 14:55] neilmb commented on #321
This should include conversations with ISSO (Hieu Nguyen) about what approval process is going to be required for releasing into the real production environment.

[2021-07-22 22:05] MelissaBraxton commented on #345
Draft summary is [here](https://docs.google.com/presentation/d/1fgXlRN_8z1Oz4z1PXy6n-yUSxBw1vjyRrythccMXh8k/edit#slide=id.ge5d92941d4_0_135)

Passing to @19mderose, @neilmb, or @cmajel for peer review?

[2021-07-22 22:07] MelissaBraxton commented on #326
This is going to be out of scope for me this week (7/19-7/23).

[2021-07-23 16:14] cmajel commented on #325
I've put together a few options for review.
* Here's a link to [the Figma file](https://www.figma.com/file/AOWq8IWGSAUGZiqZ1nZSeF/USFS-Grants-and-Agreements-Playground?node-id=1017%3A5678)
* Here's what our [commitments flow](https://gsa.invisionapp.com/console/share/9610WO0NRF7V/619008511) looked like during our last usability test
* Screenshot previews below.

I explored two options:
* Option 1:

[2021-07-23 16:20] cmajel commented on #345
I can take a look this afternoon.

[2021-07-23 17:15] neilmb commented on #345
Reviewed and left a comment. ✔️

[2021-07-23 17:38] cmajel commented on #345
Reviewed and left a few suggestions; looking good 👍🏻

[2021-07-23 17:53] neilmb commented on #203
Here is the eAuth integration developer documentation for EAD's FS-Apps integration service: https://code.fs.usda.gov/EAD/FS-Apps/files/2129/DRAFTv5_FS_APPS.docx

An important item in there is that it only supports server-side applications. That is, their service only appears to support OAuth2's "Authorization Code Grant" (http://www.bubblecode.net/en/2016/01/22/understanding-oauth2/#Authorization

[2021-07-23 19:00] cmajel commented on #354
I have an initial plan and artifact ready for review:

* [Draft research plan](https://docs.google.com/document/d/1mtz6SVjyXg6lehe2UTU9kt6_FQTahMst2kMMkp0L4wM/edit#)
* [Draft workflow artifact to share with users](https://app.mural.co/t/gsa6/m/gsa6/1626813622927/eaad83325b5c0d4127e12f88d5d9a1ee7d1c49ee?sender=christinebath3283)

A few questions for reviewers:
* I'm leaning towards using a simplifi

[2021-07-23 19:42] MelissaBraxton commented on #333
Have an initial list, but need clarification on demo procedures before we can finalize. Pinged the COR for clarification on 7/23. Can revisit this when we hear back from them.

[2021-07-26 14:47] MelissaBraxton commented on #355
@19mderose  - I refined this a bit. Take a look and revise as you like.

[2021-07-26 14:50] MelissaBraxton opened #359 "Participate in vendor proposal review"
**Background**
A few folks on the team will be serving as informal advisors on the vendor review panel 7/29-7/31, and it'll consume most of our effort for about a week.

**We'll know we're done when...**
- [x] Proposals have been reviewed
- [x] We've shared out insights

**Tasks**
- [x] Prep for oral demos
- [x] Attend demos and review meetings
- [x] Document recommendations / insights as needed

[2021-07-26 15:12] cmajel opened #360 "Conduct research and synthesis to validate and adjust proposed G&A workflow"
**Background**
In #354 we developed a plan for how we could validate and get adjustments to the proposed G&A workflow from people who do G&A work. This ticket is to execute the plan.

**We'll know we're done when...**
- [X] We've shown the new workflow to people who do G&A work ~and have written up what we've learned.~

**Tasks**
- [x] Reach out to Melanie and Jay for recruiting leads
- [x] Revisi

[2021-07-26 15:44] #350 closed, assigned to beechnut

[2021-07-26 16:24] MelissaBraxton commented on #345
Posted to Box [here](https://usfs.app.box.com/folder/137232493248).

[2021-07-26 16:24] #345 closed, assigned to MelissaBraxton

[2021-07-26 16:54] cmajel commented on #219
Flagging that this issue is still a good one to pursue, but it needs some adjusting to align with the current workflow hypothesis. Specifically removing the commitment assumptions:

`The commitment information has been approved by program and budget`

[2021-07-26 17:31] MelissaBraxton opened #364 "Align on and document story lifecycle"
**Background**
We need to establish our shared understanding of how issues will progress through our kanban board. Output of this work will be a table [like this](https://github.com/USDAForestService/fs-open-forest/wiki/How-we-work) that lives in the wiki.

**We'll know we're done when...**
- [ ] We have a table documenting our consensus on what each of our kanban columns means, when things move i

[2021-07-26 18:50] MelissaBraxton commented on #346
I can update the wiki tomorrow.

If we want a team charter, then we may want to have it as a separate issue.

[2021-07-26 18:55] neilmb commented on #313
We decided this week during our sprint demo that doing a "sprint review" format of going through the tickets that we completed during the sprint is helpful for the team and the FS stakeholders. We can make a new ticket if we need to review the decision again.

[2021-07-26 18:55] #313 closed, assigned to nobody

[2021-07-26 20:08] MelissaBraxton opened #365 "Finalize team charter"
**Background**
Split off of #346 re: "how we work."

**We'll know we're done when...**
- [ ] We've documented our team charter as a team
- [ ] Charter is available to all in Box

**Tasks**
- [ ] Draft team charter async
- [ ] Review as a team
-[ ]  post to Box

[2021-07-26 20:09] MelissaBraxton commented on #346
Team charter tasks and acceptance criteria are now in #365

[2021-07-26 21:51] #333 closed, assigned to MelissaBraxton

[2021-07-26 21:57] 19mderose commented on #314
Met with Greg Walker. He is in-between project and therefore available to faciliate. Topic- Provide training on working with technical vendors #279.

[2021-07-26 21:58] 19mderose commented on #279
Met with Greg Walker. He is in-between project and therefore available to facilitate. Topic-Provide training on working with technical vendors #314.

[2021-07-26 22:04] MelissaBraxton commented on #346
@beechnut - I added a few tasks to call out specific sections of the wiki that need updating. Would you be able to help out with updating [platform and technologies](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Platform-and-Technologies) and adding something about ADRs to our [team practices](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Team-practices)?

@neil

[2021-07-27 15:54] MelissaBraxton commented on #354
Added some comments re: who we want to recruit in the draft.

Re: testing assets, I don't think we should create anything new. Cognitive walkthrough is the best way I know of to validate BPMN models, and I think the current WF model in Mural is what most clearly represents the magnitude and possible impact of the change being proposed. It's also a way of getting at gaps in our knowledge re: inform

[2021-07-27 18:01] MelissaBraxton commented on #325
I think the first approach (not assuming workplan link) is the lightest weight way to try and meet these needs, but will defer to @jayrbergjr.

Some thoughts on a few of your Qs (the rest we can discuss w/ Jay!)

Should fiscal year be an editable field, or just displayed after submission?
 - I have in my notes that it's currently auto-popped w/ current FY. My hunch is that users would like to see

[2021-07-27 20:10] cmajel commented on #322
Noting that this is related to #325

[2021-07-27 20:56] cmajel commented on #354
@MelissaBraxton thank you for reviewing the plan. I added some follow up tasks to #360 to capture our feedback and added the sketches back into the[ testing storyboard](https://app.mural.co/t/gsa6/m/gsa6/1626813622927/eaad83325b5c0d4127e12f88d5d9a1ee7d1c49ee?sender=christinebath3283).

[2021-07-27 22:26] MelissaBraxton commented on #241
Added current thinking on when links/attachments happen and what is linked/attached.

Note that we'll want to hold off putting effort into this until we've validated the to-be WF #360. We'll also want to prioritize this as part of our next iteration on / before we validate #322 / #325. There's also a dependency on #242.

cc @cmajel and @jayrbergjr

[2021-07-27 22:43] MelissaBraxton commented on #354
Great! @jayrbergjr Once you have a chance to review, you can move it back to the prioritized backlog and prioritize it accordingly (In my mind it tops the backlog for UX work).

[2021-07-27 22:45] MelissaBraxton commented on #325
Now that we are planning to validate WF changes primarily using the WF model and the story board, I'm wondering if we want to pause more work on this pending what we learn from that research?

What do you think, @jayrbergjr and @cmajel?

[2021-07-27 23:16] MelissaBraxton commented on #314
@19mderose - Do we have an issue in this sprint to cover the topic coming up on 8/6 (I couldn't find one)? We'd talked about @neilmb focusing on architecture, but I don't know if it's on his radar.

[2021-07-27 23:18] MelissaBraxton commented on #285
This will need to get broken up into individual issues for each training topic.

[2021-07-27 23:19] MelissaBraxton commented on #285
@19mderose It just occurred to me that we may also want to double check w/ Chris and Heather who else in NRM or G&A they want to be able to attend these and make sure they're on the invites

[2021-07-28 16:41] 19mderose commented on #314
I will check with Neil.

[2021-07-28 16:58] beechnut commented on #321
Noting here: we're momentarily using Claudia.js for Lambda deployment, for local & sandbox work. I expect that Claudia will be used only temporarily, to be superseded by Terraform, Ansible, or something equivalent once we stand that up as part of this work.

[2021-07-28 20:48] 19mderose commented on #327
Spoke to Chris during our teams weekly check-in. He received the invite to GigHub and registered but I am unable to search for his userid. Will speak to Melissa/Allison to help resolve.

[2021-07-29 00:27] MelissaBraxton commented on #326
@cmajel  - If you find yourself with bandwidth tomorrow, I've started the detailed info modeling [here.](https://docs.google.com/spreadsheets/d/1wIktie0mGYUnC19ZdtcAeXrFV2ROYA_bR2VPyYVM7jI/edit#gid=892182007) in the first tab. May not be 100% self explanatory, so we could just as well pick it up next week in a co-working session.

[2021-07-29 14:11] Cope1-FS commented on #327
I think this is my user id:  Cope1-FS!

[Forest Service Shield]
Chris Coppenbarger, J.D., M.A.
Director
Forest Service
Office of Grants & Agreements
p: 202-641-6350
c: 202-641-6350

***@***.******@***.***>
201 Independence Ave, SW
Washington, DC 20250

www.fs.fed.us<https://www.fs.fed.us/>
[USDA Logo]<https://usda.gov/>[Forest Service Twitter]<https://twitter.com/forestservice>[USDA Facebook]<http

[2021-07-30 20:09] #351 closed, assigned to neilmb, beechnut

[2021-08-02 14:18] cmajel commented on #323
[Noting this GSA article](https://www.gsa.gov/about-us/organization/federal-acquisition-service/office-of-systems-management/integrated-award-environment-iae/iae-systems-information-kit/unique-entity-identifier-update) about SAM.gov's transition from DUNS to UEI for entity identification.

[2021-08-02 18:17] cmajel commented on #237
@MelissaBraxton took a pass at updating this based on our chat. Feel free to edit further!

[2021-08-02 18:49] cmajel opened #369 "As someone creating a new proposal, I’d like basic information about the proposal to be persistent on every page so that I don’t lose track of what I’m working on."
**Notes**
One of our current design hypotheses is that breaking the proposal creation process into a series of shorter, stepped forms will make the proposal creation process clearer and less confusing. [In testing this](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/User-research-report-Sprint-7,-May-2021), we suggested testing a persistent header that includes workplan ID and coo

[2021-08-02 18:54] cmajel commented on #369
@MelissaBraxton added this based on our chat last week. A few questions:

- In the research report, I see this recommendation but I'm not sure which findings it came from. Can you say more about which observations feel most supportive of this change?
- Is this tagged correctly for an issue that is low priority, but could be included in future 18F / vendor design work?

[2021-08-02 19:25] MelissaBraxton commented on #369
@cmajel  - There were a few comments from users re: wishing they could see the **workplan ID** and **cooperator name** at more than one step in the process. (e.g., "I like seeing the workplan ID here, but I'd also like to see it earlier or at a different step...")

Re: prioritization, I could def see bringing this in to a near term sprint. @jayrbergjr?

[2021-08-02 19:46] jayrbergjr opened #370 "Refine Vision from Workshop Visioning Exercise"
We need to take all the work done on the visioning exercise and incorporate team's working mural into an updated vision.  **Background**

**We'll know we're done when...**
- [ ] We have sent out an updated Vision and everyone approves.
- [ ]

**Tasks**
- [ ] Review the mural work
- [ ] Ensure that Enterprise Solution is part of the vision
- [ ] incorporate themes and high points into the vision

[2021-08-02 19:56] neilmb commented on #294
We had a meeting with the G&A legacy development team and they said that they were open to making changes if we require them and that they have a manual testing infrastructure to make sure that any changes they make won't break anything. They asked for SQL scripts from us that would make the desired change and plenty of time to coordinate testing and releasing.

[2021-08-02 19:56] neilmb commented on #294
Closing because that meeting happened. We'll make a new ticket when we have a particular change that we want to propose.

[2021-08-02 19:56] #294 closed, assigned to nobody

[2021-08-02 20:05] MelissaBraxton commented on #280
Will close this out after we've wrapped up #364

[2021-08-02 20:21] cmajel commented on #325
I've updated this a bit for coworking tomorrow based on an initial review with @MelissaBraxton

[Figma link](https://www.figma.com/file/AOWq8IWGSAUGZiqZ1nZSeF/USFS-Grants-and-Agreements-Playground?node-id=1017%3A5678)

Changes include
* Removed "funding reservation" language
* Exploring `add jobcode` as the action
* Removed workplan, as we anticipate this will come earlier
* Removed fiscal year an

[2021-08-02 20:34] neilmb commented on #346
@MelissaBraxton I adapted the content from the slide deck into the Wiki as a first pass for that page.

[2021-08-02 21:00] MelissaBraxton commented on #346
Thanks @neilmb  - made a few minor tweaks, but otherwise LGTM.

[2021-08-02 21:26] #359 closed, assigned to beechnut, MelissaBraxton, 19mderose

[2021-08-02 22:03] 19mderose opened #372 "G&A Learning Series-Architecture Session"
1st Session of our Learning Series
1hour session on Architecture with Neil.

https://engineering.18f.gov/web-architecture/

also see to #285 and #314

[2021-08-03 14:11] beechnut opened #373 "Explore code sharing between frontend/backend"
Inspired by [this comment](https://github.com/USDAForestService/NRM-Grants-Agreements/pull/368#discussion_r681248482), we're interested in seeing if there's a way to share some code (specifically, TypeScript interfaces and type definitions) between the frontend and backend applications so as to avoid doing the same work / defining the same data structures twice.

[2021-08-03 21:25] cmajel opened #376 "As a program manager creating a proposal, I need to indicate the program category so that budget approvers and GMSs have the context they need to review my proposal"
**Notes**
During a recent design review, we discovered that the `program category` field was dropped from the mockup.

This field should be added back in, because:

* We believe PMs (who are creating proposals) know their program category
* Program category is needed by GMSs and Budget approvers to verify if the program and funding source are aligned.
* System administrator should be able to add/r

[2021-08-04 13:14] jayrbergjr commented on #260
Meeting with Jay, Aaron, and Magdaline - 4 Aug 2021; 10-11 Central.

[2021-08-04 14:50] cmajel opened #377 "Identify the source and structure of jobcodes vs shortcodes"
**Background**
We know from prior design work that program managers need to identify which job codes will be used to fund their proposal requests. Job codes are created at the beginning of each fiscal year, and are also added throughout the year by ASC.

Our mock uses a [combo box](https://designsystem.digital.gov/components/combo-box/) component so that program managers can type ahead and select

[2021-08-04 14:53] cmajel commented on #325
We reviewed this with @jayrbergjr yesterday. I've added #377 as a follow on task to learn more about job code data sources and structure.

@MelissaBraxton wondering if we need a follow on task for usability testing of proposal creation flow that would include some of this work...

[2021-08-05 15:57] cmajel commented on #219
I've started working on some light wireframes for this:

* [Figma link](https://www.figma.com/file/AOWq8IWGSAUGZiqZ1nZSeF/USFS-Grants-and-Agreements-Playground?node-id=1123%3A7587)

I expect this will spill into the next sprint as we work through the data flow #326.

@jayrbergjr @MelissaBraxton, this issue probably could have used more refinement based on the current workflow. I'm thinking of this

[2021-08-05 17:03] MelissaBraxton commented on #325
@cmajel  - Curious what @jayrbergjr thinks, but I'm feeling like we may pivot to prioritizing getting a start on more of the core functionality before we refine these mocks further. I'd see usability testing of these concepts come into play at the time we or the new vendor picks up #322. I added it as a task on 322 for now.

[2021-08-05 18:49] jayrbergjr commented on #369
I agree especially if we start focusing on design and development work again.

[2021-08-05 19:12] MelissaBraxton commented on #376
Re: note from @jayrbergjr  - This issue may need to be revised to reflect that this meets upward reporting needs, but is not required by GMS or BAs to understand funding alignment.

[2021-08-05 19:40] neilmb opened #378 "Test Issue"
Just a test to try deleting

Jay edited in 18F workspace.

[2021-08-05 22:29] MelissaBraxton opened #379 "Document how to use and agreement creation workflow and data map in the wiki"
**Background**
Re: success scenario 16 _The G&A office onboards a new vendor. Vendor designers are able to easily access design files and documentation to quickly be able to pick up where the 18F team left off._

**We'll know we're done when...**
- [x] The data mapping sheet, agreement creation WF, and documentation can be easily understood by designers unfamiliar to the project
- [x] The data map

[2021-08-05 22:30] MelissaBraxton commented on #379
@jayrbergjr - this is one of the new design documentation issues I mentioned to think about prioritizing.

[2021-08-05 22:30] MelissaBraxton commented on #326
Removed post to GH task, since that is now covered in #379.

[2021-08-05 22:35] MelissaBraxton opened #380 "Document how to use the storyboard in the wiki"
**Background**
This issue covers work needed to ensure that vendor designers have the right springboard for their work when they come on board. It maps to success scenario 16 in our transition plan:

_The G&A office onboards a new vendor. Vendor designers are able to easily access design files and documentation to quickly be able to pick up where the 18F team left off._

**We'll know we're done wh

[2021-08-05 22:35] MelissaBraxton commented on #380
Another design documentation issue, @jayrbergjr

[2021-08-05 22:39] MelissaBraxton opened #381 "Write guidance for new designers on how to begin working with our design files"
**Background**
Re: success scenario 16 _The G&A office onboards a new vendor. Vendor designers are able to easily access design files and documentation to quickly be able to pick up where the 18F team left off._

**We'll know we're done when...**
- [x] How to pick up where we left off with our design files can be easily understood by designers unfamiliar to the project
- [x] Design files can be ea

[2021-08-05 22:40] MelissaBraxton commented on #381
@cmajel  - I'm imagining you'll be taking the lead on this, so take a look and refine as needed. (cc @jayrbergjr )

[2021-08-05 22:42] MelissaBraxton opened #382 "Document known design debt in wiki"
**Background**
Re: success scenario 16 _The G&A office onboards a new vendor. Vendor designers are able to easily access design files and documentation to quickly be able to pick up where the 18F team left off._

**We'll know we're done when...**
- [x] Our known design debt and known unknowns are documented in the central hub for onboarding new designers

**Tasks**
- [x] Document known design debt

[2021-08-05 22:47] MelissaBraxton opened #383 "Prepare materials to use in onboarding vendor designers."
**Background**
Re: success scenario 16 _The G&A office onboards a new vendor. Vendor designers are able to easily access design files and documentation to quickly be able to pick up where the 18F team left off._

**We'll know we're done when...**
- [ ] We feel confident that executing the vendor onboarding plan will ensure that vendor designers have what they need to pick our design work where we

[2021-08-05 22:49] MelissaBraxton commented on #325
@jayrbergjr w/ the change to covering usability testing down the road, can we close this out?

[2021-08-06 12:20] jayrbergjr commented on #325
@MelissaBraxton We can close this one out.

[2021-08-06 13:15] #325 closed, assigned to cmajel

[2021-08-06 14:11] cmajel commented on #381
Love this: `Test understandability with an 18F design peer unfamiliar w/ the project`

I added a task to test the Figma > other tool compatibility and a language tweak from upload files > upload or link files. I'm thinking about how we won't know what tools the vendor has experience in, and I'm leaning towards keeping them Figma files and making them publicly viewable. This would let anyone access

[2021-08-06 14:51] cmajel opened #384 "18F gives opportunities for the product owner to review our work as they would a vendor"
**Background**
Re success scenario 3: _NRM has hired a new vendor using modern, best practices for performance based service contracting (including 18F’s software delivery based quality assurance plan). The vendor team is skilled in working in human centered design and in an agile, iterative fashion._

We want the G&A team to have experience reviewing design and technical work before a vendor come

[2021-08-06 14:56] cmajel commented on #279
@19mderose @neilmb flagging that I added #384 as a separate issue to provide more co-reviewing opportunities. I can see some overlap with this, though I see them as distinct. Let me know if that feels right to you, or if they should be folded into one issue.

[2021-08-06 14:57] cmajel commented on #384
Noting that we have done a few design reviews with Jay and Jamie in past sprints.

[2021-08-06 15:05] cmajel opened #385 "18F creates a kick off week agenda and plan of events to transfer knowledge to vendor"
**Background**
Re success criteria 3: _NRM has hired a new vendor using modern, best practices for performance based service contracting (including 18F’s software delivery based quality assurance plan). The vendor team is skilled in working in human centered design and in an agile, iterative fashion._

We expect to have overlapping time to assist with vendor onboarding. This ticket is to plan out

[2021-08-06 16:27] cmajel opened #386 "18F and FS review and ensure that all documentation is up to date"
**Background**
This relates to success criteria 15: _A team member wants to make a change to the current application and wonders what went into the initial decision. They find and access documentation from earlier phases of the project that informs their decision to make a different sort of change and they update the documentation accordingly (Box drive, GitHub wiki, etc.). _

The goal is for us t

[2021-08-06 16:45] cmajel commented on #383
Relates to #386 and #385

[2021-08-06 16:49] 19mderose commented on #279
@cmajel This feels right. This is fine.

[2021-08-06 18:30] MelissaBraxton commented on #364
Drafted [here](https://docs.google.com/document/d/1OWAkHEbilnexLUJSqCmq5JXnA2gD9ahivMYdKocGCpE/edit). Awaiting final review by teammates and then posting to wiki.

[2021-08-06 18:34] #372 closed, assigned to neilmb

[2021-08-06 20:06] #352 closed, assigned to neilmb, beechnut

[2021-08-06 20:52] beechnut opened #387 "Consult on RACI Chart for decision-making"
**Background**
Heather Busam asked 18F to produce a complete [RACI chart](https://www.planstreetinc.com/raci-chart/) for this project, in part to clarify decision-making between the CIO and Business Unit.

In a 1:1, @neilmb and @beechnut agreed on the following proposed scope of work.

**The 18F team can consult on this process by:**

- running a workshop with relevant stakeholders
- coaching

**T

[2021-08-09 15:30] beechnut opened #388 "Set up USWDS"

[2021-08-09 17:39] cmajel commented on #284
Closing this out for now, as we've done this on a few past research cycles. cc @19mderose @MelissaBraxton

[2021-08-09 17:39] #284 closed, assigned to nobody

[2021-08-09 17:44] cmajel commented on #290
@neilmb should this change based on staffing changes at FS?

[2021-08-09 17:54] cmajel commented on #384
@beechnut flagging this for you since I know you've been working on some of this. Please feel free to review and edit if there are specific activities you are planning.

[2021-08-09 18:05] beechnut commented on #203
Happy to report that, in a meeting just now, Matt Reiss said that eAuth is ready for client-side application use.

@AdamUSDA also indicated he's been thinking about how authorization will work. Let's definitely bring this up at sprint planning this week (Aug 11) and figure out what we want to do here this sprint.

[2021-08-09 18:05] beechnut opened #389 "Port grants data modeling work from Django to Express API"
Extensive work was done on getting data modeling set up in Django. We want to leverage this by porting this work to the API backend.

**We'll know we're done when:**
- [x] API connects to the Postgres database
  - [x] Local
  - [x] Sandbox
- [x] API endpoint for `/grants` model is returning minimal grants JSON from the database
- [x] Display all grants model data for the API endpoint (no relations

[2021-08-09 18:08] beechnut opened #390 "Display grants data (& decide on an API convention)"
**Context**
We're getting ready to start sending real (sample) data from the API to the frontend.

As we begin displaying grants data from the API on the frontend, the question is raised: what is the shape of the response we return? #389 is only scoped to provide "minimal JSON".

Considerations include:

- Format (e.g. JSON:API, JSON-LD, HAL, Collection+JSON)
- Navigation / hypermedia
- Versioning

[2021-08-09 18:15] AdamUSDA commented on #203
Hey @neilmb

The Mulesoft team is looking at eAUTH as well. I'm not certain if that has been implemented or not. Casey sent this to me as a possible usage.

https://apisero.medium.com/mule-oauth-provider-da7ac785520c

[2021-08-09 19:00] beechnut commented on #384
@cmajel Thank you, just added a lengthy success criterion.

[2021-08-10 17:29] AdamUSDA commented on #203
@neilmb I talked with the CIO team and we talked about the eAuth process. After that discussion I think that using the eAuth service that they have put in place will be our best option for now.

[2021-08-11 16:38] cmajel commented on #354
@jayrbergjr we can chat at sprint planning, but I believe this is ready to close unless you have additional review you'd like to do. #360 will be the follow on ticket to iterate on the plan and actually start testing the workflow with people who use G&A.

[2021-08-11 17:06] jayrbergjr commented on #292
I'm open to do this anytime.

[2021-08-11 17:21] jayrbergjr commented on #370
Check in with Chris C. to ensure we are ok to add "enterprise."

[2021-08-11 17:41] #388 closed, assigned to beechnut

[2021-08-11 17:46] jayrbergjr opened #392 "Set up USWDS"
**Background**
Get the design system into the app early to be the foundation for rapid prototyping.

**We'll know we're done when...**
- [x] The elements in existing prototype conform to USWDS style
- [x] The list of grants looks like a table or standard USWDS list

**Tasks**
- [x] Add style and JS into Angular build pipeline

[2021-08-11 20:29] aaronburk commented on #387
this may be useful ?? it is form Open Forest
[ePermit RASCI Chart_V0.3_stakeholderorgsadded_5_25__18.xlsx](https://github.com/USDAForestService/NRM-Grants-Agreements/files/6971210/ePermit.RASCI.Chart_V0.3_stakeholderorgsadded_5_25__18.xlsx)

[2021-08-11 20:43] jayrbergjr commented on #370
At G&A weekly check in (8/11) we talked through CIO working the "enterprise" issue.  CIO leadership still talking  through it, then CIO and BusOps senior leaders will have to work out what the vision for "enterprise" consist of for this project.

[2021-08-12 19:02] beechnut opened #393 "Reword ADRs to be in past tense"

[2021-08-12 19:33] neilmb commented on #290
I think that we could close this because we have https://github.com/USDAForestService/NRM-Grants-Agreements/issues/331 to onboard the tech lead to what the role entails.

[2021-08-12 19:33] #290 closed, assigned to nobody

[2021-08-12 20:00] cmajel commented on #354
@jayrbergjr to keep the board clean I'm going to close this for now and move future work to #360; feel free to reopen if you have additional comments.

[2021-08-12 20:00] #354 closed, assigned to cmajel

[2021-08-12 20:50] beechnut opened #394 "Determine ORM needs for database connections"

[2021-08-12 20:55] #394 closed, assigned to nobody

[2021-08-12 21:03] cmajel commented on #386
Documenting this thought. As I was looking for past work on share of agreements by type, I thought that a short primer on grants and agreements and surface some key research artifacts that we found useful in addition to artifacts we've created.

A few things I'm thinking of
* Short write up on what's currently handled by the system (grants, agreements of various types) and what is not (contracting

[2021-08-13 16:55] cmajel commented on #219
@jayrbergjr @MelissaBraxton I've added some wireframes for review[ in Figma](https://www.figma.com/file/AOWq8IWGSAUGZiqZ1nZSeF/USFS-Grants-and-Agreements-Playground?node-id=1123%3A6967) (pink and purple lines). I tried two versions:

1. Making GMS actions (assigning a type and agreement number) a distinct part of the review flow
2. Embedding fields GMSs need to edit into the form itself, and makin

[2021-08-16 14:05] jayrbergjr commented on #219
My preference is Teams first, but I do get e-mails from GitHub that I have been trying to keep up with.  As an FYI, when I click the "in Figma" link, I can't get into the system; I get a "File not found" error.

[2021-08-16 14:39] #393 closed, assigned to beechnut

[2021-08-16 17:06] neilmb commented on #292
Should invite Jay, Adam, and Magdaline at least.

[2021-08-16 18:37] beechnut commented on #390
Do we want this issue to include things like pagination and/or typeahead filtering?

[2021-08-16 19:06] neilmb commented on #299
Matt is now in everything USDA.

[2021-08-16 19:12] neilmb commented on #346
@MelissaBraxton Could you take a look at the "How we work" content on the wiki and verify that this ticket is done?

[2021-08-16 19:20] jayrbergjr commented on #285
WO OG&A submitted a request to get on the AMC next agenda (23 Aug) to ask how/when they would like this training.

[2021-08-16 19:26] neilmb commented on #309
Meeting with Mark Awad and Thompson Grant scheduled for August 25.

[2021-08-16 19:29] beechnut opened #399 "Feature: grant navigation and detail view"
**Background**
We want to lay the minimal groundwork for the app, which involves listing grants, allowing some search, and showing grant details.

Do we want this issue to include things like table/list pagination, typeahead filtering, and/or a grant view page?

**We'll know we're done when we have...**
- [ ] A table of grants, sorted by most recently updated first
- [ ] Pagination on the grants t

[2021-08-16 19:29] 19mderose commented on #279
Spoke to Alex 8/16 needs to check with supervisor before committing to session. I will followup this week.

[2021-08-16 19:37] beechnut opened #400 "Feature: grant search"
As someone who works with grants, I want to be able to search for a specific grant.

**We'll know we're done when...**
- [ ] Typing in the search field above the grants list instantly filters grants by any displayed grant attributes
- [ ] We can click on a grant, go back to the list, and have the search be persisted.

**Tasks**
- [ ] Add a search field
- [ ] Write tests for grant search
- [ ] Set

[2021-08-16 19:38] neilmb commented on #260
Hopefully, we'll know in the next week or two how 18F can help serve the ongoing conversations between CIO and BizOps about this.

[2021-08-16 19:41] neilmb commented on #291
@19mderose Can we schedule this presentation into the learning series soon-ish? Maybe it's easier to get the audience together for this than for some of the larger agile trainings?

[2021-08-16 19:43] neilmb commented on #296
Doing this likely requires live code that runs in the browser environment so that users can use the actual assistive technologies with the prototype application in this testing, rather than mock-ups.

[2021-08-16 19:49] 19mderose commented on #291
@neilmb I will add it to the schedule. Maybe 8/27 or 9/3 (We need keep in mind that is a Labor Day weekend and folks maybe OOO)?

[2021-08-16 19:50] neilmb commented on #78
The new Angular tech stack doesn't use any development servers outside of the local dev environment.

[2021-08-16 19:50] #78 closed

[2021-08-16 19:58] neilmb commented on #251
We can set ourselves up to watch the Enterprise Github repo at code.fs.usda.gov/foest-service/NRM-GA-Legacy

[2021-08-16 20:18] 19mderose commented on #364
Complete. Need help in adding to Wiki.

[2021-08-16 20:19] neilmb commented on #331
Meeting August 17th to finish this off (hopefully).

[2021-08-17 14:37] neilmb commented on #319
Closing as this is specific to the abandoned Django prototype

[2021-08-17 14:37] #319 closed, assigned to nobody

[2021-08-17 15:24] neilmb commented on #222
See https://github.com/USDAForestService/NRM-Grants-Agreements/pull/401 for a response to the underlying conceptual issue and closing this as Django-specific.

[2021-08-17 15:24] #222 closed

[2021-08-17 15:28] #389 closed, assigned to neilmb, beechnut

[2021-08-17 15:32] #392 closed, assigned to neilmb, beechnut

[2021-08-17 16:54] #326 closed, assigned to MelissaBraxton

[2021-08-17 21:47] cmajel commented on #242
Noting from design review today this question:

[2021-08-17 21:56] beechnut commented on #390
Here's what I'm thinking so far.

### Versioning

First, use an "always add, never remove" versioning strategy.

For specifying a version, allow both:
- A `Content-Type` header (e.g. `Accept: application/vnd.api+json; gov.usda.fs.ga.api.version=1`)
- A URL component (one of: a subdomain like `v2.api.ga.fs.usda.gov` or a base path `api.ga.fs.usda.gov/v2/`) to set the version.

Clients, including ou

[2021-08-18 16:56] beechnut commented on #321
Here's the [Wiki page on the Release Engineering Process](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Release-Engineering-Process). I've added the QASP chart and the code quality metric, and added implementation details/status.

Very much a first draft, so please edit/comment, and there's a bit of work to do to get the pipeline fully implemented.

[2021-08-18 17:17] AdamUSDA commented on #390
Hey @beechnut the API will more than likely use a OATH token or **URL mapping** to access the **API**.  The API gateway can authenticate the call using the URL and then make the Lambda request so there will be no need to register the API.

When we integrate with Mulesoft external customers they will be able to register themselves for the public API's but that's a much more robust process and outsi

[2021-08-18 18:12] 19mderose commented on #279
Confirmed with Ryan Hoffschneider for 9/17. Accepting technical work.

[2021-08-18 22:05] neilmb opened #402 "In order to facilitate collaboration, as a program manager, I want to have a stable URL for a grant object that I can share with a GMS in emails or chat"
**Notes**

Stable URLs for individual objects is a big benefit of modern web apps. The new G&A application should have URLs for a proposal or grant item so that we can share those URLs in various communication channels

**We'll know we're done when...**
- [ ] Each proposal and grant has a URL that is consistent over the life of the grant.

**Supporting documentation**
- [ ]

**Open questions**
- [

[2021-08-18 22:23] neilmb commented on #331
Good meeting, we finished reviewing various documents. @AdamUSDA can you do the last two things on the bottom of the list, then check them off, and close this issue?

[2021-08-18 22:32] neilmb commented on #292
Meeting set for August 19th.

[2021-08-19 01:54] 19mderose commented on #301
FS IT-Help Desk activated my domain and help set up teams.

[2021-08-19 02:01] 19mderose commented on #364
Added table to wiki describing our sprints.
https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Team-practices

[2021-08-19 02:01] #364 closed, assigned to 19mderose

[2021-08-19 20:51] cmajel commented on #299
I verified today that I have access to Pinyon/Box! 🎉

But, I'm not able to access links that have been shared before, like [this workshop recap](https://usfs.app.box.com/folder/137232493248). Is there an additional step of inviting us to a shared folder?

[2021-08-19 21:33] cmajel commented on #381
Sharing some notes for initial feedback:
* Started some [wiki drafts](https://docs.google.com/document/d/1P_F2SHZeS84zpy8i9b75GKDQTUhzHgX7256x5a1H68w/edit#) here
* In addition to organizing and cleaning up files, for each "page" (aka, design exercise),  I'm adding a cover sheet to recap what we did for each round of work. Here's an example - feedback welcome on things we should add or adjust.
![de

[2021-08-20 14:50] beechnut commented on #390
@AdamUSDA Thanks for the info regarding registration / authorization, and that helps to know where Mulesoft fits into all of this.

It looks like we're talking about different uses of the word "versioning", which makes sense because both of the things we're talking about are "versioning". I think what you're talking about is versioning the codebase, deployments, and the like. This issue is meant t

[2021-08-20 19:07] AdamUSDA commented on #390
Hey @beechnut . Thanks for the clarification.

The projects that I've worked on have used URL path /v1/grants, /v2/grants model but I'm really agnostic. If the header model has benefit over the URL model I'm open to exploring that option. If not let's go with the URL path.

To be honest I'm not certain if AWS API Gateway has registration capabilities. I know that Mulesoft does but I'm not certain

[2021-08-20 19:13] AdamUSDA commented on #331
Hello @neilmb

Can you share the Project Charter with me.

[2021-08-20 20:32] beechnut commented on #390
@AdamUSDA Thanks, it definitely does! And the code I've written in #403 allows the client to choose whether they use the URL or the header. I also expect most to use URL, but I suspect we'll get API consumers (including our Angular app) that appreciate the option of using a header.

[2021-08-23 14:44] MelissaBraxton opened #404 "Write up workflow research insights"
**Background**
This issue is to document what we learned in our workflow research. (#360 )

**We'll know we're done when...**
- [ ] insights are documented in wiki
- [ ] refinements are documented as user stories

**Tasks**
- [x] Synthesize
- [x] Write up
- [x] Get one other person on team to review
- [ ] Post to wiki
- [x] Add user stories to user story sheet

[2021-08-23 14:47] MelissaBraxton commented on #360
Created #404 as a separate issue to cover write up.

[2021-08-23 14:48] #360 closed, assigned to cmajel, MelissaBraxton

[2021-08-23 16:12] #378 closed, assigned to nobody

[2021-08-23 16:21] 19mderose commented on #314
Pause for now. However, Heather thinks these trainings are valuable. Partner is searching for AMC Leadership availability in order to service a wider audience.
Time frame Oct-Dec 2021

[2021-08-23 16:24] 19mderose commented on #285
Update on #314

[2021-08-23 16:44] neilmb opened #406 "Meet with FS and review as if we are completely new to the project"
**Background**

We are trying to get our documentation into a state where a new team from 18F or a vendor can easily pick up where we are. To find out how we are doing with that, we will do a simulation where we imagine starting completely fresh on the project and get into the project documentation and collect suggestions on how to improve it.

**We'll know we're done when...**
- [x] We have perfo

[2021-08-23 16:50] neilmb commented on #292
This meeting happened and went well. https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Release-Engineering-Process has the QASP and notes on how we are implementing the automated portions of it.

[2021-08-23 16:50] #292 closed, assigned to neilmb

[2021-08-23 19:12] MelissaBraxton commented on #357
@AdamUSDA  - Would this still be helpful to you? If it's priority, we can likely fit it into the next sprint.

[2021-08-23 19:15] jayrbergjr commented on #387
We do this first then Visioning. #370

[2021-08-24 13:33] AdamUSDA commented on #357
@MelissaBraxton Yes this would be very helpful.

[2021-08-24 14:52] beechnut commented on #348
Emailed Matt Reiss to kick off the work.

[2021-08-24 15:20] neilmb commented on #331
All done, everything checked off.

[2021-08-24 15:20] #331 closed, assigned to AdamUSDA

[2021-08-24 19:01] beechnut commented on #348
[Documented CI/CD process on the Wiki here.](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/CI-CD-Pipeline)

[2021-08-25 14:24] AdamUSDA commented on #348
Hey @beechnut @neilmb ,

The Documented CI/CD process looks good. Can we include diagram of what that process will look like.

Can we also have a list of the items in that process that we are asking Ops to setup for us.

Thanks

[2021-08-25 16:57] beechnut commented on #348
@AdamUSDA Here's a start on a flowchart: [G&A CI/CD Flowchart](https://app.mural.co/invitation/mural/gsa6/1629906349964?sender=u4f47cdf98671301519091262&key=b10d03bf-0e27-4b05-b261-a9e535aa92c2). Let me know if you have questions or comments on that.

Does [this Checks table](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/CI-CD-Pipeline#checks) work as the items we're looking for?

[2021-08-27 14:14] #390 closed, assigned to beechnut

[2021-08-30 15:15] beechnut opened #407 "Define & document initial workflows in each environment"
**Background**
We would like to have a workflow diagram of each environment so that we can walk through the DevOps process in all environments.

**We'll know we're done when...**
- [ ] We have clear written definitions of `sandbox`, `development`, `test`, `staging`, and `production` environments are used for.
- [ ] We have documentation of the resources attached to each environment.
- [ ] We have

[2021-08-30 15:20] beechnut opened #408 "Review & decide on a serverless framework"
**Background**
We want to select a serverless framework so we don't have to change it later during application development.

Criteria include:

- general capabilities and limitations
- how they work with API Gateway
- how they work in different environments

**We'll know we're done when...**
- [ ] We have approved an ADR deciding on a serverless framework that researches Serverless, Claudia.js, SA

[2021-08-30 15:22] neilmb commented on #407
This is going to be preparatory work for #309, to define the environments before we set them up.

[2021-08-30 15:23] beechnut opened #409 "Document CI/CD setup for vendor team"
**Background**
We'd like to set up a summary diagram of the CI/CD process to help onboard the developers from the vendor team, especially before they have access to the Jenkins web application.

**We'll know we're done when...**
- [ ] We have a one-pager diagram of how CI/CD is set up.
- [ ]

**Tasks**
- [ ]
- [ ]

[2021-08-30 17:36] beechnut commented on #321
[First draft of dev -> staging -> prod is in Mural here](https://app.mural.co/t/gsa6/m/gsa6/1629906349964/c1622d2c54103bf1472dbb660e0099af71ef55a1?sender=u4f47cdf98671301519091262). Lots to discuss, figure out, and edit.

[2021-08-30 18:28] AdamUSDA commented on #409
Hey @beechnut can you share the link to the google document?

[2021-08-30 18:32] neilmb commented on #336
First draft diagrams at

https://docs.google.com/drawings/d/1ZE0Vo2HcuC_9p9avfGu2f5XZ_o7IjWZuyNlKBatR3vU
https://docs.google.com/drawings/d/1I65tII_WK1OivazQA4l9zdbdQ5UpruI27WJKImBVvV0
https://docs.google.com/drawings/d/1B8_gDRueLcOcth3T_eWPhzQdrKcbxoljB9d1GojM7rU

[2021-08-30 18:45] beechnut commented on #409
@AdamUSDA Could you clarify what you're looking for? There isn't a Google Doc for this issue yet.

[2021-08-30 19:15] cmajel commented on #382
I've started a [rough scratchpad with design debt notes](https://docs.google.com/document/d/14C5neV7rClnoGX2ds7ZBEOXYB6qwzrW-QrOeBxewGp8/edit#) that are coming up as I clean up design assets (#381). Edits and half-formed thoughts welcomed.

cc @MelissaBraxton

[2021-08-31 13:51] cmajel commented on #299
With @aaronburk's help I now have access to [this box folder](https://usfs.app.box.com/folder/139644794024) and verified that I can [create folders and upload files](https://usfs.app.box.com/folder/144690701514).

The [workshop recap link](https://usfs.app.box.com/folder/137232493248) I shared before still does not work, but maybe it lives somewhere else? cc @MelissaBraxton who I believe created t

[2021-08-31 14:41] beechnut commented on #408
Note that this shouldn't be a blocker to completing #347—Claudia.js is two small files and one line of code (`npm run update`), so can be swapped out easily.

[2021-09-01 18:36] neilmb commented on #336
@aaronburk @AdamUSDA I changed the diagrams based on our conversation this morning.

Can you review https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Product-roadmap and comment here if it looks good to you?

[2021-09-02 11:49] aaronburk commented on #336
These look good to me.  Thanks so much!

[2021-09-02 12:41] AdamUSDA commented on #336
This looks good from a high level perspective.

[2021-09-02 14:26] #336 closed, assigned to neilmb

[2021-09-02 18:39] MelissaBraxton opened #413 "Update org chart Mural"
**We'll know we're done when...**
- [ ] Our org chart Mural reflects our current understanding of FS org and relationships

**Tasks**
- [ ] Update [Mural](https://app.mural.co/t/gsa6/m/gsa6/1630607943667/66b9992b43d5f486e40be34169001278c4f59477?sender=melissabraxton2796)
- [ ] Share w/ team for review

[2021-09-02 20:24] AdamUSDA commented on #409
Hey @beechnut ,

I'm talking about the Google document that you have with the list of questions for the DevOps team.

[2021-09-03 21:00] MelissaBraxton commented on #404
@jayrbergjr [draft](https://docs.google.com/presentation/d/1TgURKlZaNAwLOGNeDVuR-2E9EPhC9FYRQHfnKauqH0c/edit#slide=id.g118c086a31_0_21) for you to review after the holiday!

[2021-09-08 21:15] MelissaBraxton opened #414 "Update GitHub content to better contextualize where we are w/ this work (re: project pivot, etc.)"
**Notes**

**We'll know we're done when...**
- [x] People unfamiliar with the project can easily understand the current status and what's next.

**Tasks**
- [x] Update README
- [x] Update wiki home page
- [x] Update roadmap section of the wiki

[2021-09-08 22:17] MelissaBraxton commented on #382
@cmajel - Added! Can we close this out?

[2021-09-08 22:18] MelissaBraxton commented on #379
@cmajel - based on your peer review today, can we close this out?

[2021-09-08 22:18] MelissaBraxton commented on #380
@cmajel  - Based on your peer review today, can we close this out?

[2021-09-09 13:30] cmajel commented on #382
Yes! I updated the sidebar link and it's looking great 🙂

[Adding a link to this page for posterity](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Known-design-debt).

[2021-09-09 13:30] #382 closed, assigned to cmajel

[2021-09-09 15:08] MelissaBraxton commented on #357
This [doc may](https://www.gsa.gov/cdnstatic/Low_Impact_SaaS_(LiSaaS)_Solutions_Authorization_Process_%5B16-75_Rev_4%5D_03-02-2020docx.pdf) be a helpful resource.

[2021-09-09 16:29] cmajel commented on #379
It's looking great! I updated the sidebar link and added a table of context to the [timeline of design activities](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Timeline-of-design-activities) with anchor links to help with the `summary` issue.

Could you give these a look over and edit as needed? If they look good to you then we're good to close out!
* [Added a section to design

[2021-09-09 18:43] caleywoods opened #416 ""Local development with Docker" isn't functioning"
**Describe the bug**
The steps outlined in the "Local development with Docker" section of the README do not result in a functional local development environment. After performing `docker compose up` in Step 1, I receive two errors related to `node_modules` missing in the API/Web container(s).

**To Reproduce**

1. Clone the NRM-Grants-Agreement to your computer and change directory into the newly

[2021-09-09 20:10] cmajel commented on #219
Closing this as we've posted it in teams and we reviewed with @jayrbergjr . There is a summary of this work and draft prototypes [on the wiki](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Timeline-of-design-activities#august-2021-reviewing-proposals).

[2021-09-09 20:10] #219 closed

[2021-09-09 20:22] cmajel commented on #381
This is now live on the wiki!

I've made a read-only version of our [Figma file publicly viewable](https://www.figma.com/file/AOWq8IWGSAUGZiqZ1nZSeF/USFS-Grants-and-Agreements-Playground?node-id=804%3A0) so that future teams can copy and work from it. I've also noted in [the design tools section of the wiki](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Design-tools) more detail

[2021-09-09 20:22] #381 closed, assigned to cmajel

[2021-09-09 20:25] cmajel commented on #380
Yes I think we can!

[Adding a link to the recap on this for posterity](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Timeline-of-design-activities#june-aug-2021-ga-workflow-and-storyboard).

[2021-09-09 20:25] #380 closed, assigned to nobody

[2021-09-09 20:29] cmajel commented on #379
Whoops - realize my comment here is not related to this part of the wiki 😅 . So yes, looks good and will close out!

[Link for posterity ](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Timeline-of-design-activities#june-aug-2021-ga-workflow-and-storyboard)

[2021-09-09 20:29] #379 closed, assigned to MelissaBraxton

[2021-09-09 20:31] cmajel commented on #404
@MelissaBraxton per our chat yesterday this looks good for peer review ✅

[2021-09-13 16:42] #414 closed, assigned to nobody

[2021-09-13 16:45] #346 closed, assigned to beechnut

[2021-09-13 16:55] cmajel commented on #357
We also cover some of this in [the design tools](https://github.com/USDAForestService/NRM-Grants-Agreements/wiki/Design-tools) section of the wiki

[2021-09-13 16:57] beechnut commented on #321
Moved to **Waiting**: waiting for project pivot work to finish before picking this up.

[2021-09-13 16:57] beechnut commented on #348
Moved to **Waiting**: waiting for project pivot work to finish before picking this up.

[2021-09-13 16:57] neilmb commented on #406
This meeting happened and updates were made as a result.

[2021-09-13 16:57] #406 closed, assigned to nobody

[2021-09-13 16:59] neilmb commented on #386
I believe this is done and the Google doc at https://docs.google.com/document/d/1VcitXr5MZ1J6_EcMk4WSJYtz6VchxtigxsSliaCE49k is where future 18F team members would look to know where the project stands.

[2021-09-13 16:59] #386 closed, assigned to nobody

[2021-09-14 16:16] jayrbergjr opened #419 "Combining authorities - Policy Issue"
**Notes**
As a policy analyst I want the system to only allow appropriate authorities to be combined on a grant/agreement in order to prevent Grants Specialists from combining inappropriate authorities together on a grant/agreement.

**We'll know we're done when...**
- [ ] the system only allows a user to select more than one authority when allowable and that user cannot select two incompatible au

[2022-03-14 16:30] MelissaBraxton opened #422 "Deprecate Trello"
Issue created by mistake. Wrong repo!

[2022-03-14 16:31] #422 closed, assigned to nobody

[2022-03-14 16:31] MelissaBraxton commented on #422
Issue created by mistake. Wrong repo!